*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body{
    background: black;
    position: relative;
  }
  
  
  #navbar .item{
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #navbar .item .right{
    background-color: white;
    min-height: 100vh;
    width: 70px;
  }
  #navbar .item .left{
    background-color: #0D0D0D;
    min-height: 100vh;
    width: 270px;
    display: none;
  }
  #navbar .item .left .link div {
  height: 50px;
  }
  
  #navbar .item .left .link div a{
  /* display: none; */
  height: 20px;
  
  }
  
  .cross{
    display: none;
  }





  .container .row input{
    height: 40px;
    width: 800px;
  }


  .inpo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }